body{
    background-color: rgb(35, 35, 35);
}

h3{
    font-size: 1rem;
    color: white;
    font-family: 'Lucida Sans';
    margin-top: 3rem;
}

.calculate{
    padding: 10px 15px 10px 10px ;
    border: none;
    outline: none;
}

.js-calculate-button{
    padding: 10px 15px;
    background-color: rgb(33, 155, 33);
    border: none;
    cursor: pointer;
    transition: scale 0.1s ease-in-out;
}

.js-calculate-button:hover{
    scale: 1.06;
}

.js-reset-button{
    padding: 10px 25px;
    background-color: rgb(155, 33, 33);
    border: none;
    cursor: pointer;
    transition: scale 0.1s ease-in-out;
}

.js-reset-button:hover{
    scale: 1.06;
}
.js-cost{
    font-size: 1rem;
    color: white;
    font-family:sans-serif;
    line-height: 30px;
}