#heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
}

.js-input{
    font-size: 1rem;
    padding-top:0.4rem ;
    padding-bottom:0.4rem ;
    padding-left: 0.4rem;
}
.js-due-date{
    margin-left: 3rem;
    padding-top: 0.35rem ;
    padding-bottom:0.33rem ;
    padding-left: 0.4rem;
    font-size: 1rem;
}

.css-due-date{
    align-self: center;
    justify-self: start;
}

.js-add-button{
    margin-left: 1rem;
    padding-top: 0.5rem ;
    padding-bottom:0.5rem ;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    font-size: 1rem;
    color: white;
    border: none;
    background-color: rgb(60, 147, 60);
}

.js-task-text{
    font-size: 1.5rem;
    margin-top: 2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.js-delete-button{
    margin-left: 4rem;
    padding-top: 0.4rem ;
    padding-bottom:0.4rem ;
    padding-left: 1rem;
    padding-right: 1.08rem;
    font-size: 1rem;
    background-color: rgb(255, 48, 48);
    color: rgb(0, 0, 0);
    border: none;
    justify-self: end;
}

.js-delete-all-button{
    margin-left: 1.1rem;
    padding-top: 0.5rem ;
    padding-bottom:0.5rem ;
    padding-left: 1rem;
    padding-right: 1.08rem;
    font-size: 1rem;
    background-color: rgb(255, 48, 48);
    color: rgb(0, 0, 0);
    border: none;
    display: none;
    transition: scale 0.2s ease-in-out;
}

.js-delete-all-button:hover{
    scale: 1.05;
}

.js-print{
    display: grid !important;
    margin-top: 1rem
    
    ;
    margin-right: 63.8rem;
    grid-template-columns: 1fr 125px 80px;
    justify-content: center;
    align-items: center;    
}